<div>
  {{#each datas}}
    <a href='/dashboard//edit/{{id}}'>
      <span>{{title}}</span>
      <span>{{formatDate createdAt}}</span>
    </a>
    <button type='submit'>Update</button>

    <button type='button' id='delete-btn'>Delete</button>

  {{/each}}
</div>
<div>
  {{#each dataExtensions}}
    <a href='/dashboard/dataExtension/edit/{{id}}'>
      <span>{{title}}</span>
      <span>{{formatDate createdAt}}</span>
    </a>
    <button type='submit'>Update</button>

    <button type='button' id='delete-btn'>Delete</button>

  {{/each}}
</div>
<script src='../public/js/editData.js'></script>
<script src='../public/js/editDataExtension.js'></script>