<div>      <script>

      console.log(JSON.stringify({{data}}))
      </script>
  <article>
    <div>
      <h2>{{data.title}}</h2>
      <div>
        Posted by {{data.user.username}} on {{formatDate data.createdAt}}
      </div>
    </div>
    <div>
      {{data.body}}
    </div>
  </article>





  <section>
    <div>
      <h3>Data Extensions</h3>
    </div>
  {{#if data.dataextensions}}
   <div>
      {{#each data.dataextensions as |dataExtension|}}
      {{> dataExtensions}}
      {{/each}}
    </div>
      {{else}}
  
      <div>
        <p>No Data Extensions</p>
      </div>
  {{/if}}
  </section>






  <form id="new-dataExtension-form">
    <div>
      <h3>Add New Data Extension</h3>
    </div>

    <div>
      <input type="hidden" name="data-id" value="{{data.id}}" />

      <label class="form-label" for="dataExtension-body">Data Extension Content</label>

      <textarea name="dataExtension-body" class="form-input"></textarea>

      <button type="submit" class="btn">Submit</button>
    </div>
  </form>

</div>

<script src="/js/dataExtension.js"></script>