<div>
  {{#each data}}
    <article>
      <div>
        <h2>
          <a href='/data/{{id}}'>{{title}}</a>
        </h2>
        <div>
          Posted by
          {{user.username}}
          on
          {{formatDate createdAt}}
        </div>
      </div>
      <div>
        {{body}}
      </div>
    </article>
  {{/each}}
</div>